.perfil-image-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .perfil-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  ion-button {
    margin-bottom: 10px;
  }
  